<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly"
    android:versionCode="1"
    android:versionName="@string/app_version">

    <uses-sdk android:minSdkVersion="21" />

    <!--<permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <permission android:name="android.permission.CAMERA"/>
    <permission android:name="android.permission.INTERNET" />
    <permission android:name="android.permission.LOCATION_HARDWARE" />
    <permission android:name="android.permission.BLUETOOTH" />
    <permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <permission android:name="android.permission.READ_PHONE_STATE" />
    <permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    &lt;!&ndash; <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> &ndash;&gt;
    <permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name="org.cso.config.AppController"
        android:allowBackup="true"
        android:allowTaskReparenting="true"
        android:icon="@drawable/sbpscl_logo"
        android:label="@string/app_name"
        android:theme="@style/MSBTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ActvivityMain"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvBillingOption"
            android:icon="@drawable/mobile_logo"
            android:label="@string/app_name"
            android:logo="@drawable/mobile_logo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvBilling"
            android:description="@string/billing"
            android:label="@string/billing"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ActvConsumerNbrInput"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:description="@string/app_name"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvConsumerNbrInputRecheck"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:description="@string/app_name"
            android:finishOnTaskLaunch="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvMeterStatusMenu"
            android:description="@string/meter_status"
            android:label="@string/meter_status"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvCurrReading"
            android:description="@string/bill_calculation"
            android:label="@string/bill_calculation"
            android:screenOrientation="portrait" />
        <activity android:name=".ActvConsForRoundComplete" />
        <activity
            android:name=".ActvBillPrinting"
            android:description="@string/print_bill"
            android:label="@string/print_bill"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvRemarks"
            android:description="@string/remarks"
            android:label="@string/remarks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BilledUnbilled"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActvLogin"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvReport"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvOptConsumerSearch"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvSetupInfo"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsumerListTest"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <!--
        <activity
            android:name=".RptRCList"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RptMeterChange"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"></activity>
        -->
        <activity
            android:name=".ActvDownloadInputData"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvVerifySetUpInfo"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvModifySetUpInfo"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvDuplicateBillPrinting"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvConsumerNbrInputForDuplicateBill"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvSrcByMtrNo"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActvSrcByConName"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActvSrcByConNo"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActvSummary"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActvivityHelp"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvivityUpload"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvLegacyNbrInput"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvSequenceData"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvLaunchApp"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ActvMsgPrinting"
            android:description="@string/print_bill"
            android:label="@string/print_bill"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvUnbilledListPrinting"
            android:description="@string/print_bill"
            android:label="@string/print_bill"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvSummaryPrinting"
            android:description="@string/print_bill"
            android:label="@string/print_bill"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvTestPrinting"
            android:description="@string/print_bill"
            android:label="@string/print_bill"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PoleMobileActivity"
            android:label="@string/title_activity_pole_mobile" />
        <activity
            android:name=".MeterNbrInput"
            android:label="@string/title_activity_meter_nbr_input" />
        <activity
            android:name=".ActivitySyncData"
            android:label="@string/title_activity_activity_sync_data" />
        <activity
            android:name=".IntermediateActivity"
            android:label="@string/title_activity_intermediate" />
        <activity
            android:name=".MissingConsumersActivity"
            android:label="@string/title_activity_missing_consumers" />
        <activity
            android:name=".InterDupActivity"
            android:label="@string/title_activity_inter_dup" />
        <activity
            android:name=".SeqSyncActivity"
            android:label="@string/title_activity_seq_sync" />
        <activity
            android:name=".SyncMobPoleActivity"
            android:label="@string/title_activity_sync_mob_pole" />
        <activity
            android:name=".Abnormality_Activity"
            android:label="@string/title_activity_abnormality_" />
        <activity
            android:name=".ActivityBT_Reading"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/ATheme"></activity>
        <activity
            android:name=".PeripheralActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/ATheme" />
        <activity
            android:name=".DcMeterReading"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"></activity>
        <activity android:name=".ActivityPreLaunch"
            android:theme="@style/MyMaterialTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.cso.MobileSpotBilling.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service
            android:name="org.cso.service.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

    </application>


</manifest>