<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="@string/app_version">

    <uses-sdk android:minSdkVersion="24" />
    <!-- android:installLocation="internalOnly"-->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.LOCATION_HARDWARE"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" /> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
   <!-- <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />-->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CLEAR_APP_CACHE"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <!-- <application
         android:name="org.cso.config.AppController"
         android:allowBackup="true"
         android:allowTaskReparenting="true"
         android:icon="@drawable/sbpscl_logo"
         android:label="@string/app_name"
         android:theme="@style/MSBTheme"
         android:requestLegacyExternalStorage="true"
         android:largeHeap="true"
         android:usesCleartextTraffic="true">-->
    <!--        android:networkSecurityConfig="@xml/network_security_config"-->
    <application
        android:icon="@drawable/sbpscl_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sbpscl_logo"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:allowTaskReparenting="true"
        android:largeHeap="true"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:allowBackup"
        android:name="org.cso.config.AppController"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".ActivityPreLaunch"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ActvivityMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvBillingOption"
            android:icon="@drawable/mobile_logo"
            android:logo="@drawable/mobile_logo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvBilling"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity
            android:name=".ActvConsumerNbrInput"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ActvConsumerNbrInputRecheck"
            android:clearTaskOnLaunch="true"
            android:configChanges="orientation"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
           />
        <activity
            android:name=".ActvMeterStatusMenu"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ActvCurrReading"
            android:screenOrientation="portrait" />
        <activity android:name=".ActvConsForRoundComplete" />
        <activity
            android:name=".ActvBillPrinting"
            android:description="@string/print_bill"
            android:label="@string/print_bill"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity
            android:name=".ActvRemarks"
            android:description="@string/remarks"
            android:label="@string/remarks"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BilledUnbilled"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvLogin"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ActvReport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvOptConsumerSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvSetupInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConsumerListTest"
            android:screenOrientation="portrait" />
        <!--
            <activity
                android:name=".RptRCList"
                android:clearTaskOnLaunch="true"
                android:finishOnTaskLaunch="true"
                android:screenOrientation="portrait"></activity>
            <activity
                android:name=".RptMeterChange"
                android:clearTaskOnLaunch="true"
                android:finishOnTaskLaunch="true"
                android:screenOrientation="portrait"></activity>
        -->
        <activity
            android:name=".ActvDownloadInputData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvVerifySetUpInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvModifySetUpInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvDuplicateBillPrinting"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity
            android:name=".ActvConsumerNbrInputForDuplicateBill"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvSrcByMtrNo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActvSrcByConName"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActvSrcByConNo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ActvSummary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvivityHelp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvivityUpload"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvLegacyNbrInput"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvSequenceData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvLaunchApp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvMsgPrinting"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity
            android:name=".ActvUnbilledListPrinting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvSummaryPrinting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActvTestPrinting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PoleMobileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MeterNbrInput"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity
            android:name=".ActivitySyncData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntermediateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MissingConsumersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InterDupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SeqSyncActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SyncMobPoleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Abnormality_Activity"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity
            android:name=".ActivityBT_Reading"
            android:clearTaskOnLaunch="true"
            android:finishOnTaskLaunch="true"
            android:screenOrientation="portrait"
            android:theme="@style/ATheme" />
        <activity
            android:name=".PeripheralActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/ATheme" />
        <activity
            android:name=".DcMeterReading"
            android:label=""
            android:screenOrientation="portrait" />
        <service
            android:name="org.cso.service.MyJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.cso.MobileSpotBilling.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>